body {
    .container {
        .article {
            .section {
                h1 {
                    margin: 0 0 15px 0;
                }

                // panel pytania
                .panel {
                    width: 100%;
                    height: 300px;

                    position: relative;
                    overflow: hidden;

                    &__child {
                        position: absolute;

                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        justify-items: center;
                        align-items: center;

                        width: 100%;
                        height: 100%;

                        transition: 1s all;

                        &:nth-child(2) {
                            transform: translateX(100%);
                        }

                        &:nth-child(3) {
                            transform: translateX(200%);
                        }

                        .move {
                            width: 100%;
                            height: 100%;

                            display: flex;

                            cursor: pointer;

                            i {
                                font-size: 3rem;
                                margin: auto;
                            }
                        }
                    }

                    //global style for all inputs div
                    .input {
                        font-size: 1.3rem;
                        display: grid;
                        grid-template-columns: repeat(1, 1fr);
                        justify-items: center;
                        align-items: center;
                        gap: 30px;
                    }


                    //each of div in input
                    .enter {
                        grid-template-columns: repeat(2, 1fr);

                        input {
                            font-size: 1.3rem;
                            padding: 10px;
                            background-color: transparent;
                            border: transparent;
                            border-bottom: 2px solid $textColor;
                            outline: none;
                            color: $textColor;
                        }
                    }

                    .text {

                        textarea {
                            width: 100%;
                            padding: 10px;
                            resize: none;
                            font-size: 1.3rem;
                        }
                    }

                    .confirm {
                        gap: 50px;

                        input {
                            width: 100%;
                            height: 50px;

                            font-size: 1.3rem;
                            padding: 10px;
                            background-color: transparent;
                            border: 1px solid $textColor;
                            outline: none;
                            color: $textColor;

                            cursor: pointer;

                            &:active {
                                background-color: $grullo;
                                color: $bgColor;
                            }
                        }
                    }


                }

                // panel przesył plików

                .send-file {}
            }
        }
    }
}