* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0a0908;
  color: #F2F4F3;
  height: 100%;
  overflow: hidden;
}

body .menu {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  opacity: 0.95;
  background-color: #49111C;
}

body .menu__option ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
}

body .menu__option ul li {
  padding: 10px;
  list-style: none;
  letter-spacing: 3px;
}

body .menu__option ul li:first-child {
  display: none;
}

body .menu__option ul li a {
  cursor: pointer;
  height: 100%;
  text-decoration: none;
  font-weight: bold;
  color: #F2F4F3;
}

body .menu__option ul li a::after {
  display: block;
  content: "";
  width: 0;
  height: 2px;
  background-color: #F2F4F3;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

body .menu__option ul li:hover a::after {
  width: 100%;
}

body .menu__button {
  display: none;
}

body .container {
  z-index: 9;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

body .container .scroll {
  scroll-snap-align: start;
}

body .container .article__image {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body .container .article__image .image__text {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.7rem;
}

body .container .article__image .image__text .text__border {
  text-transform: uppercase;
  background-color: #49111C;
  color: #F2F4F3;
  padding: 20px;
}

body .container .article .section {
  text-align: center;
  line-height: 1.5rem;
  padding: 50px 80px;
}

body .container .img1 {
  background-image: url("../images/bg1.jpg");
  min-height: 100vh;
}

body .container .img2 {
  background-image: url("../images/bg2.jpg");
  min-height: 300px;
}

body .container .img3 {
  background-image: url("../images/bg3.jpg");
  min-height: 300px;
}

body .container .img4 {
  background-image: url("../images/bg1.jpg");
  min-height: 300px;
}

body .container .article .section h1 {
  margin: 0 0 15px 0;
}

body .container .article .section .panel {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
}

body .container .article .section .panel__child {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  -webkit-transition: 1s all;
  transition: 1s all;
}

body .container .article .section .panel__child:nth-child(2) {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

body .container .article .section .panel__child:nth-child(3) {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

body .container .article .section .panel__child .move {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

body .container .article .section .panel__child .move i {
  font-size: 3rem;
  margin: auto;
}

body .container .article .section .panel .input {
  font-size: 1.3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

body .container .article .section .panel .enter {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

body .container .article .section .panel .enter input {
  font-size: 1.3rem;
  padding: 10px;
  background-color: transparent;
  border: transparent;
  border-bottom: 2px solid #F2F4F3;
  outline: none;
  color: #F2F4F3;
}

body .container .article .section .panel .text textarea {
  width: 100%;
  padding: 10px;
  resize: none;
  font-size: 1.3rem;
}

body .container .article .section .panel .confirm {
  gap: 50px;
}

body .container .article .section .panel .confirm input {
  width: 100%;
  height: 50px;
  font-size: 1.3rem;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #F2F4F3;
  outline: none;
  color: #F2F4F3;
  cursor: pointer;
}

body .container .article .section .panel .confirm input:active {
  background-color: #A9927D;
  color: #0a0908;
}

body .container .article .section input[type="file"] {
  display: none;
}

body .container .article .section .send-file {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  body .menu {
    opacity: 1;
  }
  body .menu__option {
    height: 100%;
    width: 0;
    z-index: 1;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #49111C;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  body .menu__option .close {
    cursor: default;
    width: 100%;
    border: none;
    outline: none;
    background-color: #49111C;
    color: #F2F4F3;
    font-weight: bold;
    font-size: 2rem;
  }
  body .menu__option ul {
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .menu__option ul li {
    margin: 15px 0;
    width: 100%;
  }
  body .menu__option ul li:first-child {
    display: block;
  }
  body .menu__option ul li a {
    cursor: default;
    font-size: 1.5rem;
    display: block;
    width: 100%;
    border-bottom: 2px solid #F2F4F3;
  }
  body .menu__option ul li a::after {
    display: none;
  }
  body .menu__button {
    cursor: default;
    background-color: #49111C;
    color: #F2F4F3;
    border: none;
    outline: #0a0908;
    width: 100%;
    padding: 10px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 2rem;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .container {
    z-index: 5;
    scroll-behavior: auto;
    -ms-scroll-snap-type: none;
        scroll-snap-type: none;
  }
  body .container .article__image {
    background-attachment: scroll;
  }
  body .container .article__image .image__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 2rem;
  }
  body .container .article .section {
    padding: 50px 40px;
  }
  body .container .article .section {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
  }
  body .container .article .section .panel {
    height: 400px;
  }
  body .container .article .section .panel__child {
    width: 100%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  body .container .article .section .panel__child .move {
    cursor: default;
  }
  body .container .article .section .panel__child .move i {
    font-size: 4rem;
    margin: auto;
  }
  body .container .article .section .panel .input {
    width: 100%;
    gap: 0px;
    row-gap: 30px;
  }
  body .container .article .section .panel .enter {
    overflow: hidden;
  }
  body .container .article .section .panel .text textarea {
    width: 80%;
    padding: 5px;
    font-size: 1rem;
  }
  body .container .article .section .panel .confirm input {
    cursor: default;
  }
}
/*# sourceMappingURL=main.css.map */